
#game {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* forca */
#forca {
    width: 15em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-self: center;
}
#forcaDesenho {
    position: relative;
    align-self: end;
    width:20em;
    height: 20em;
}
.traco {
    height: 0.7em;
    background: var(--color1);
    position: absolute;
}
#traco1 {
    width: 8em;
    bottom: 0;
}
#traco2 {
    width: 14em;
    rotate: 90deg;
    left: -3em;
    bottom: 7em;
}
#traco3 {
    width: 9.5em;
    bottom: 14em;
    left: 4em;
}
#traco4 {
    height: 4.6em;
    width: 0.7em;
    left: 13em;
    top: 5.6em;
}
.boneco {
    position: relative;
    height: 10em;
    width: 5em;
    transform: translate(-50%, -50%);
    top: 15em;
    left: 5.9em;
}
.membro {
    position: absolute;
    background: var(--color1);
    width: 0.3em;
    height: 2.5em;
    display: none;
}
#head {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 3em;
    aspect-ratio: 1;
    border: solid 0.3em var(--color1);
    border-radius: 50%;
    display: none;
}
#body {
    left: 50%;
    transform: translate(-50%);
    top: 3em;
    width: 0.3em;
    height: 4em;
}
#leftArm {
    rotate: -45deg;
    left: 29%;
    top: 2.8em;
}
#rightArm {
    rotate: 45deg;
    left: 65%;
    top: 2.8em;
}
#leftLeg {
    rotate: 30deg;
    top: 67%;
    left: 34%;
}
#rightLeg {
    rotate: -30deg;
    top: 67%;
    left: 59%;
}

/* palavra */
#letrasAcertadas {
    position: relative;
}
#letrasAcertadas .container {
    position: absolute;
    top: 50%;
}
#letrasErradas {
    font-size: 1.5em;
    margin-bottom: 2em;
    text-wrap: nowrap;
}
#palavra {
    font-weight: bolder;
    font-size: 2em;
    letter-spacing: 3px;
}

/* teclado */
#teclado {
    display: flex;
    flex-flow: column;
    gap: 0.3em;
    grid-column-start: 1;
    grid-column-end: 3;
    background: var(--color2);
    border: 0.25em solid var(--color1);
    justify-self: center;
    align-self: center;
    padding: 0.5em;
    border-radius: 0.25em;
}
.row {
    display: flex;
    gap: 0.3em;
}
#row2 {
    padding-left: 1em;
}
#row3 {
    padding-left: 3em;
}
.letter {
    width: var(--teclaSize);
    aspect-ratio: 1;
    text-align: center;
    padding: 1em;
    background: var(--color1);
    color: black;
    border-radius: 0.2em;
    transition: 0.2s linear;
}
.letter:hover {
    background: rgb(17, 146, 0);
}
.letter:active {
    background: darkblue;
    transform: scale(0.8);
}

#gameOver {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 60vh;
    background: rgb(255, 254, 252);
    border-radius: 2em;
    box-shadow: -1.5em 1.5em black;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    display: none;
}
#gameOver h1 {
    font-size: 4em;
    margin-bottom: 2em;
    color: red;
    text-shadow: 2px 2px black;
}
#gameOver p {
    font-size: 1.5em;
}
#parabens {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 60vh;
    background: rgb(255, 254, 252);
    border-radius: 2em;
    box-shadow: -1.5em 1.5em black;
    display: none;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
#parabens h1 {
    font-size: 4em;
    margin-bottom: 2em;
    color: lime;
    text-shadow: 2px 2px black;
}
#parabens p {
    font-size: 1.5em;
}