* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(
        -135deg,
        rgb(255, 255, 163),
        yellow
    ); 
}

h1 {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    background: rgb(0, 38, 49);
    border: solid 0.3em skyblue;
    border-radius: 0.3em;
    padding: 2em;
    color: white;
    font-size: large;
    display: flex;
    flex-flow: column;
    gap: 1em;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Chrome, Safari, Opera */
    margin: 0; /* Remove a margem ao redor das setas */
}
input {
    border: none;
    outline: none;
    padding: 0.3em 0;
    width: 2em;
    font-size: larger;
    text-align: center;
}
button {
    border: none;
    background: rgb(43, 192, 241);
    color: white;
    padding: 0.25em;
    font-size: large;
    border-radius: 0.3em;
}
button:hover {
    cursor: pointer;
    background: rgb(35, 163, 206);
}